.photo_Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    text-align: center;
    margin: 20px 0 20px 0px;
    width: 400px;
    background-color: rgb(156, 155, 155);
    border: 10px solid rgb(95, 94, 94);
    border-radius: 20px;
}

.backButton {
    margin: 20px;
}

.photo {
    margin-bottom: 20px;

}

.image {
 border: 10px solid black;
 border-radius: 10px;
}
